@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
}

body {
    background-color: rgb(0, 0, 0);
}

.search-bar {
    display: flex;
    align-items: center;
    position: absolute;
    right: 185px;
    top: 25px;
    background: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 50px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    border: none;
    outline: none;
    overflow: hidden;
}

.search-ikon {
    transition: opacity 0.3s ease-in-out;
}

.search-bar.active {
    transform: scaleX(1);
}

#search-input {
    border: none;
    outline: none;
    padding: 5px;
    width: 250px;
    font-size: 14px;
}

#search-button {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 14px;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    border-bottom: 2px solid black;
    background-color: rgb(29, 27, 27);
}

.judul-web {
   color: white;
   font-weight: 700;
   font-size: 2rem;
   text-decoration: none;
}

.judul-web span {
    color: rgb(240, 174, 7);
}

.navbar-nav {
    transition: opacity 0.5s ease-in-out, transform 0.3s ease-in-out, visibility 0.5s;
    display: flex;
}

.navbar-nav.hidden {
    opacity: 0.5;
    pointer-events: none;
}

.navbar-nav a {
    color: rgb(255, 255, 255);
    display: inline-block;
    text-decoration: none;
    font-size: 1.4rem;
    margin: 0 1rem;
}

.navbar-nav a:hover {
    color: rgba(147, 147, 147, 0.349);
    transition: 0.2s ease-in-out;
}

.navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid rgba(216, 216, 216, 0.837);
    transform: scaleX(0);
    transition: 0.2s ease-in-out;
}

.navbar-nav a:hover::after{
    transform: scaleX(0.5);
}

.navbar-nav.hidden {
    opacity: 0;
    visibility: hidden;
}

.tombol-navbar a {
    color: white;
    margin: 0 0.5rem;
}

.tombol-navbar a:hover{
    color: rgba(255, 255, 255, 0.688);
    transition: 0.2s ease-in-out;
}

#menu {
    display: none;
}

/*Bagian isi*/
.isi {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(background-pizza.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.isi::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 30%;
    background: linear-gradient(0deg, rgba(1, 1, 3, 1) 8%, rgba(255, 255, 255, 0) 55%);

}

.content {
    padding: 1.4rem 7%;
    max-width: 60rem;
}

.content h1 {
    font-size: 4em;
    color: white;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    line-height: 1.5;
}

.content h1 span{
    color: rgb(240, 174, 7);
}

.content p{
    font-size:  1.8em;
    margin-top: 1rem;
    line-height: 1.4;
    font-weight: 100;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    color: white;
    mix-blend-mode: difference;
}

.cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color: white;
    background-color: rgb(240, 174, 7);
    border-radius: 0.5rem;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    text-decoration: none;
}

/*Bagian Isi Selesai*/

/*Bagian Tentang Kami*/
.about, .menu{
    padding: 8rem 7% 1.4rem;
}

.about h2, .menu h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
    color: white;
}

.about span, .menu h2 span{
    color: rgb(240, 174, 7);
}

.about .row {
    display: flex;
}

.about .row .about-img {
    flex: 1 1 45rem;

}

.about .row .about-img img {
    width: 100%;
}

.about .row .content {
    flex:  1 1 35rem;
    padding:  0 1rem;
}

.about .row .content h3{
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: white;
}

.about .row .content p{
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
    font-weight: 100;
    line-height: 1.6;
}
/*Bagian Tentang Selesai*/

/*Bagian Menu*/

.menu h2 {
    margin-bottom: 1.5rem;
}
.menu p{
    color: white;
    text-align: center;
    max-width: 30rem;
    margin: auto;
    line-height: 1.6;
    font-weight: 100;

}
.menu .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    justify-content: center;
}

.menu .row .menu-card {
    text-align: center;
}

.menu .row .menu-card img {
    border-radius:50%;
    width: 45%;
}

.menu .row .menu-judul {
    margin: 1rem auto 0.5rem;
    color: white;
}
/*Bagian Menu selesai*/
/*Bagian Footer*/
footer {
    background-color: rgb(29, 27, 27);
    text-align: center;
    padding: 1rem 0;
    margin-top: 3rem;
    height: 30%;
}

footer .social {
    padding: 1rem 0;
}

.credit {
    color: white;
    font-weight: 150;
}

footer .social a {
    color: rgba(255, 255, 255, 0.426);
    padding: 0.5rem;
}

footer .social a:hover {
    color: white;
    transition: 0.5s ease-in;
}

.credit p a{
    color: rgba(255, 255, 255, 0.54);
    text-decoration: none;
    padding: 0.5rem;
}

.links a {
    color: white;
    text-decoration: none;
    font-weight: 150;
    padding: 0.5rem;
}
/*Bagian Footer*/
/*tablet*/
@media (max-width: 768px) {
    html{
        font-size: 62.5%;
    }
    #menu {
        display: inline-block;
    }
    .navbar-nav{
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: rgb(255, 255, 255); /*buat ganti warna di navbar*/
        height: 100vh;
        width: 30rem;
        transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out, visibility 0.5s;
    }

    .navbar-nav.hidden {
        opacity: 0;
        pointer-events: none;
    }
    
    .navbar-nav.active{
        right: 0;
    }
    .navbar-nav a::after{
        transform-origin: 0 0;
    }
    
    .navbar-nav a:hover::after {
        transform: scaleX(0.2);
    }
    .navbar-nav a{
        color: rgb(0, 0, 0); /*warna text di navbar*/
        display: block;
        margin: 1.5rem;
        padding: 2rem;
        font-size: 2rem;
    }

    .about .row{
        flex-wrap: wrap;
    }

    .about .row .about-img img{
        height: 24rem;
        object-fit: cover;
        object-position: center;

    }

    .about .row .content{
        padding: 0;
    }

    .about .row .content h3{
        margin-top: 1rem;
        font-size: 2rem;
    }

    .about .row .content p {
        font-size: 1.6rem;
    }
    .search-bar {
        display: flex;
        align-items: center;
        position: absolute;
        right: 158px;
        top: 9px;
        background: white;
        padding: 5px;
        border-radius: 20px;
        box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.3s ease-in-out;
        z-index: 1000;
    }
    
    .search-bar.active {
        transform: scaleX(1);
    }
    
    #search-input {
        border: none;
        outline: none;
        padding: 5px;
        width: 230px;
        font-size: 14px;
    }
    
    #search-button {
        border: none;
        background: transparent;
        cursor: pointer;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    html{
        font-size: 52.5%;
    }
    .search-bar {
        display: flex;
        align-items: center;
        position: absolute;
        right: 150px;
        top: 9px;
        background: white;
        padding: 5px;
        border-radius: 20px;
        box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.3s ease-in-out;
        z-index: 1000;
        width: 70px;
    }
}
/*Navbar End*/

/*Bagian Isi*/

/*Bagian Isi Selesai*/